body {
  font-family: 'Droid Sans', sans-serif;
}

.company {
  display: none;
}

.company .content{
  padding-left: 80px;
  padding-right: 80px;
}

.generic {
  display: block;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color:rgba(27,27,27,0.4);
}

.heart {
  color: #E21818;
}

#me.jumbotron {
  padding-top: 0;
  margin-bottom: 0;
}

#tagline {
  padding-top: 100px;
}

#whoami {
  text-shadow: 2px 2px #030303;
  color: #ffffff;
  text-align: center;
  background-image: url(george5.jpg);
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
}

#call-to-action {
  padding: 35px;
}

#call-to-action h2 {
  text-align: center;
}

nav.navbar {
  width: 100%;
}

#you .you-logo {
  padding: 5px;
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

#you .overlay {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQIHWNgYGD4D8RYATUlAP5qBPz0Jw6ZAAAAAElFTkSuQmCC) repeat;
  padding: 25px;
}

.about-you {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #fff;
}

.about-you p {
  font-size: 16px;
}

#irccloud-section {
  background: #094A91;
}

#mongohq-section {
  background: #0C7EB9;
}

#github-section {
  background: #0F4578;
}

#github-section .you-logo {
  background: #DEFDFF;
}

#extras {
  background: #f7f7f7;
  padding: 80px 80px;
}
